<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Área de Ajuda do Quiz</title>
  <link rel="stylesheet" href="../styles/ajuda.css" />
</head>
<body>
  <div class="container">
    <div class="titulo">💡 Área de Ajuda do Quiz</div>

    <h2>👤 Como funciona o quiz?</h2>
    <ul>
      <li>Você verá uma pergunta por vez com múltiplas opções de resposta;</li>
      <li>Escolha a alternativa correta e avance para próxima questão;</li>
      <li>Ao final, você verá sua pontuação total.</li>
    </ul> 

    <h2>📋 Regras</h2>
    <ul>
      <li>Não é permitido voltar para perguntas anteriores;</li>
      <li>Cada resposta correta pode valer de: 1 a 3 ponto (dependendo da dificuldade da pergunta);</li>
      <li>Responda com atenção: apenas uma tentativa por pergunta.</li>
    </ul>

    <h2>ℹ️ Dicas</h2>
    <ul>
      <li>Leia as perguntas com calma;</li>
      <li>Se não souber, tente eliminar as respostas erradas primeiro;</li>
      <li>Se errar uma resposta, não desanime. Cada pergunta é uma chance nova.</li>
    </ul>

    <a href="../index.html" class="botao-voltar-ao-menu">  ⭠ Voltar ao menu</a>
  </div>
</body>
</html>