body {
  margin: 0;
  padding: 0;
  background-color: #dbeeff;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
}

.container {
  max-width: 500px;
  background-color: white;
  margin: 50px auto;
  border-radius: 16px;
  padding: 30px 25px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.titulo {
  background-color:#1b43a0 ;
  color: white;
  padding: 15px;
  border-radius: 12px 12px 0 0;
  font-size: 1.4em;
  text-align: center;
   font-family: 'Segoe UI', sans-serif;
}

h2 {
  margin-top: 25px;
  color: #1b43a0;
  font-size: 1.2em;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

li {
  margin-bottom: 8px;
}

.botao-voltar-ao-menu {
  margin: 50px auto 0 auto; 
  display: block;
  width: 60%; 
  padding: 14px;
  background-color: #1b43a0;
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.botao-voltar-ao-menu:hover {
  background-color: #16377e; 
}
